.p1_fondo{
    background-color: rgb(206, 0, 5);
}

.p2_fondo{
    background-color: antiquewhite;
}

.p1_h1{
    color: white;
    border: 1px solid white;
    padding-left: 22px;
    padding-top: 2px;
    padding-bottom: 10px;
}

.p1_h2{
    color: white;
}

.p1_h3{
    color: white;
}

.p1_p{
    color: white;
    border: 1px solid blue;
    margin-left: 25px;
    margin-top: 35px;
    padding-top: 10px;
    padding-left: 15px;
    height: 42px;
    width: 100px;

}

.img2{
    width: 250px;
}

.img3{
    width: 100px;
    height: 80px;
}

.img4{
    width: 500px;
    height: 1000px;
}